<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Movie List!!</title>
  </head>
  <body>
    <h1>Movie list</h1>

    <section class="showWrap">
      <ul>
        <li class="get_all">
          <button>모든영화보기</button>
          <section class="showResult"></section>
        </li>

        <li class="post">
          <form action="" method="post">
            <div>제목 : <input type="text" name="title" /></div>
            <div>장르 : <input type="text" name="type" /></div>
            <div>평점 : <input type="text" name="grade" /></div>
            <div>주연 : <input type="text" name="actor" /></div>
          </form>
          <button>영화추가</button>
          <section class="showResult"></section>
        </li>

        <li class="get_id">
          <input type="text" name="title" />
          <button>영화상세정보</button>
          <section class="showResult"></section>
        </li>

        <li class="delete_id">
          <input type="text" name="title" />
          <button>영화삭제</button>
          <section class="showResult"></section>
        </li>
        <li class="updata_id">
          <form action="" method="post">
            <div>제목 : <input type="text" name="title" /></div>
            <div>장르 : <input type="password" name="type" /></div>
            <div>평점 : <input type="text" name="grade" /></div>
            <div>주연 : <input type="text" name="actor" /></div>
          </form>
          <button>영화정보갱신</button>
          <section class="showResult">ㅁㅁ</section>
        </li>
        <li class="get_min">
          <button>현재 상영중인영화</button>
          <section class="showResult">aaa</section>
        </li>
      </ul>
    </section>

    <script>
      document.querySelector(".showWrap").addEventListener("click", (e) => {
        let url, method, data;
        const target = e.target;
        const li = target.closest("LI");
        const showResult = li.querySelector(".showResult");
        const type = li.className;

        if (target.tagName !== "BUTTON") return;

        switch (type) {
          case "get_all":
            url = "/movie";
            method = "GET";
            fn = (result) => {
              if (result.result === 1) {
                let titles = result.data.reduce((pre, next) => {
                  pre += "<li>" + next.title + "</li>";
                  return pre;
                }, "");
                showResult.innerHTML = "<ul>" + titles + "</ul>";
              } else {
                showResult.innerHTML = "list not found";
              }
            };
            break;
          case "post":
            url = "/movie";
            method = "POST";
            let inputs = [].slice.call(document.querySelector("form").elements);
            data = inputs.reduce((pre, next) => {
              pre[next.name] = next.value;
              return pre;
            }, {});
            fn = (result) => {
              if (result.result === 1)
                showResult.innerHTML = "새로운 영화 데이터가 잘 추가됐습니다.";
              else showResult.innerHTML = "list not found";
            };
            break;
          case "get_id":
            url = "/movie/" + li.getElementsByTagName("input")[0].value;
            method = "GET";
            fn = (result) => {
              if (result.result === 1) {
                showResult.innerHTML =
                  "title : " +
                  result.data[0].title +
                  "<br/>" +
                  "type : " +
                  result.data[0].type +
                  "<br/>" +
                  "grade : " +
                  result.data[0].grade +
                  "<br/>" +
                  "actor : " +
                  result.data[0].actor;
              } else {
                showResult.innerHTML =
                  '"' +
                  li.getElementsByTagName("input")[0].value +
                  '"' +
                  " 영화의 정보가 없습니다.";
              }
            };
            break;
          case "delete_id":
            url = "/movie/" + li.getElementsByTagName("input")[0].value;
            method = "DELETE";
            fn = (result) => {
              if (result.result === 1) {
                console.log("result 결과", result);
                showResult.innerHTML =
                  "선택한영화 " + '"' + result.title + '"' + "가 삭제됐습니다.";
              } else {
                showResult.innerHTML =
                  '"' +
                  li.getElementsByTagName("input")[0].value +
                  '"' +
                  " 영화가 없습니다.";
              }
            };
            break;
          default:
            // statements_def
            console.log("default");
            break;
        }
        sendAjax(url, method, data, fn);
      });

      let sendAjax = (url, method, data, fn) => {
        const xhr = new XMLHttpRequest();
        xhr.open(method, url);

        if (data) {
          data = JSON.stringify(data);
          xhr.setRequestHeader("Content-Type", "application/json");
        } else {
          data = null;
        }

        xhr.send(data);

        xhr.addEventListener("load", () => {
          const result = JSON.parse(xhr.responseText);
          fn(result);
        });
      };
    </script>
  </body>
</html>
